@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  /* background: #80cc33; */
  white-space: pre-wrap;
}

.error-snackbar {
  /* background: #ff1a00; */
  white-space: pre-wrap;
}
