<div class="container-main">
  <div fxLayout="row" class="mt-5">
    <div class="product-images">
      <p>Images goes here</p>
    </div>
    <div class="product-description">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            ><h1>
              {{ product.name | titlecase }}
            </h1></mat-card-title
          >
          <mat-card-subtitle
            ><h3>
              {{ product.price | currency: "INR":true }}
            </h3></mat-card-subtitle
          >
          <mat-card-subtitle>{{ product.shortDescription }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ml-3">
          <h2>Product Details</h2>
          <p>
            {{ product.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="ml-1">
          <button mat-button (click)="confirm(product.id)">Add To Cart</button>

          <button mat-button [routerLink]="['/products']">
            See More Products
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
