<div class="container-main mt-5">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayout.md="column"
    fxLayoutGap.lt-md="10px"
    fxLayoutGap.md="10px"
    class="product-main"
  >
    <div class="product-Filter mr-2" fxFlex="15%" fxFlex.md="25%">
      <div class="text-center mt-2">
        <form>
          <h2>Filter</h2>
          <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="sortSelectedValue" name="food">
              <mat-option *ngFor="let item of sortList" [value]="item.value">
                {{ item.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div
      class="product-list"
      fxLayout="row wrap"
      fxLayoutGap="32px"
      fxLayoutAlign="flex-start"
      fxFlex="85%"
      fxFlex.md="25%"
    >
      <app-product-card
        fxFlex="0 1  calc(50% - 32px)"
        fxFlex.gt-xs="0 1 calc(33.3% - 32px)"
        fxFlex.gt-sm="0 1 calc(25% - 32px)"
        fxFlex.gt-md="0 1 calc(20%-32px)"
        *ngFor="let product of products"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>
